@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.principal {
	display: grid;
	margin-left: 5%;
	margin-right: 5%;
}

.formulario{
	display: grid;
	justify-content: center;
}

.text-principal{
	display: grid;
	align-items: center;
	justify-content: center;
}

.frs-text{
	display: flex;
	font-weight: bold;
	color: azure;
	font-size: 200%;
	justify-content: center;
	margin-top: 10%;
}

.sec-text{
	display: flex;
	color: azure;
	font-size: 120%;
	justify-content: center;
	margin-bottom: 5%;
	font-weight: bold;
}

.trd-text{
	display: flex;
	color: azure;
	font-size: 140%;
	font-weight: bold;
	justify-content: center;
	margin-bottom: 0%;
}

#form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20%;
	color: azure;
	font-weight: bold;
}

#myInput{
	display: flex;
	align-items: center;
	border-radius: 2%;
	border:azure;
}

#submit{
	display: flex;
	border-radius: 8%;
	background-color: none; 
	margin-left: 20%;
	font-weight: bold;
	height: fit-content;
	box-sizing: border-box;
}